body{
    background-color: rgb(0, 0, 41);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    /* padding-left: 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

ul > li{
    width: 200px;
    height: 200px;
    margin: 2rem;

    /* padding: 2rem; */
    /* border: 2px white solid; */
    text-align: center;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
